<!DOCTYPE html>
<html data-theme="light">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="./support.js"></script>
</head>
<body>
<x-dc>
<!-- @template name="AMX Catalog & Governance" description="AMX data-field catalog with lineage & sample payloads, beside the strategy governance / review rail" -->
<helmet>
<script src="./ds-base.js"></script>
<meta name="dc-template" content="amx-governance"></meta>
</helmet>
<x-import component-from-global-scope="AmxGovernanceScreen" from="./screen.jsx" hint-size="100%,860px"></x-import>
</x-dc>
</body>
</html>
